@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'montserratItalic';
  src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Black.ttf') format('truetype');
}


@font-face {
  font-family: 'DMsans';
  src: url('../fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: "montserrat";
}